@import './lib/normalize.css';

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
}

:root {
    color-scheme: light dark;
    --inset: 0.5rem;

    --btn-hue: 226;
    --btn-bg: hsl(var(--btn-hue) 95% 46%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --btn-bg: hsl(var(--btn-hue) 95% 46%);
    }
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: var(--inset);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem;
}

/* COMPONENTS */

.btn {
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    padding: 0.6em 1em;
    border-radius: 0.4em;
    font-weight: 600;
    background-color: var(--btn-bg);
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.btn[disabled] {
    background-color: hsl(var(--btn-hue) 20% 20%);
}

.Map {
    border-radius: 4px;
}

/* HELPERS */

.block {
    display: block;
}
