@import './lib/normalize.css';

:root {
    --inset: 3vw;

    --color-bg: #fff;
    --color-text: #222;
    --color-detail: hsl(249 3% 54%);
    --color-accent: hsl(211 100% 50%);
    --color-border: hsl(240 5% 83%);

    --btn-bg: var(--color-accent);

    --shadow: hsl(249 45% 3% / 0.3);

    /* Type scale */
    --size-1: 2.5rem;
    --size-2: 1.5rem;
    --size-3: 1.15rem;
    --size-4: 1rem;
    --size-5: 0.85rem;

    /* Spacings */
    --space-1: 2rem;
    --space-2: 1.5rem;
    --space-3: 1rem;
    --space-4: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #000;
        --color-text: #fff;
        --color-accent: hsl(210 99% 52%);
        --shadow: black;
        --color-border: hsl(249 6% 25%);
    }
}

/* System color tricks from https://blog.jim-nielsen.com/2021/css-system-colors/ */

/* For browsers that don’t support `color-scheme` and therefore
   don't handle system dark mode for you automatically 
   (Firefox), handle it for them. */
@supports not (color-scheme: light dark) {
    html {
        background: var(--color-bg);
        color: var(--color-text);
    }
}

/* For browsers that support automatic dark/light mode
   As well as system colors, set those */
@supports (color-scheme: light dark) and (background-color: Canvas) and (color: CanvasText) {
    :root {
        --color-bg: Canvas;
        --color-text: CanvasText;
    }
}

/* For Safari on iOS. Hacky, but it works. */
@supports (background-color: -apple-system-control-background) and (color: text) {
    :root {
        --color-bg: -apple-system-control-background;
        --color-text: text;
    }
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--color-bg);
    color: var(--color-text);
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

html {
    font-size: var(--size-4);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding-top: max(env(safe-area-inset-top), var(--inset));
    padding-bottom: max(env(safe-area-inset-bottom), var(--inset));
    padding-left: max(env(safe-area-inset-left), var(--inset));
    padding-right: max(env(safe-area-inset-right), var(--inset));
}

p {
    margin: 0 0 var(--space-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem;
}

h1 {
    font-size: var(--size-1);
    margin-bottom: var(--space-1);
}

h2 {
    font-size: var(--size-2);
    font-weight: 500;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

/* COMPONENTS */

.btn {
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    padding: 0.6em 1em;
    border-radius: 0.4em;
    font-weight: 600;
    background-color: var(--btn-bg);
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.Map {
    border-radius: 4px;
}

.RunItem {
    margin-bottom: var(--space-2);
    padding-bottom: var(--space-2);
    border-bottom: 1px solid var(--color-border);
}

.RunItem header {
    margin-bottom: var(--space-3);
}

.RunItem header h2 {
    margin-bottom: 0;
}

.RunStatsTable {
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

.NavBar {
    background-color: var(--color-bg);
    font-size: var(--size-3);
    position: fixed;
    padding: var(--inset);
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: max(env(safe-area-inset-bottom), 50px);
    padding-left: max(env(safe-area-inset-left), var(--inset));
    padding-right: max(env(safe-area-inset-right), var(--inset));
}

.NavBar ul {
    display: flex;
    justify-content: space-between;
}

.NavBar__Float {
    position: absolute;
    border-radius: 100%;
    background-color: var(--color-accent);
    color: inherit;
    width: 3em;
    height: 3em;
    display: inline-flex;
    right: 10px;
    bottom: calc(100% + 10px);
    text-indent: -999em;
    box-shadow: 2px 2px 4px var(--shadow);
}

.BtnLink {
    display: inline-block;
    padding: 4px;
    font-weight: 500;
}

.BackLink::before {
    content: '← ';
}

/* HELPERS */

.block {
    display: block;
}

.detail {
    color: GrayText;
    font-size: var(--size-5);
    font-weight: normal;
}

.color-inherit {
    color: inherit;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.justify-between {
    justify-content: space-between;
}

.no-wrap {
    white-space: nowrap;
}

.w-full {
    width: 100%;
}
